// Box Contact
.box-contact
  ul
    li
      a(
        target="_blank" 
        href="https://www.facebook.com/share/1MkHQpeLg6/"
        )
        i.fa-brands.fa-facebook-f
    li
      a(
        target="_blank" 
        href="https://www.instagram.com/sown03th6/"
        )
        i.fa-brands.fa-instagram
    li
      a(
        target="_blank" 
        href="https://www.youtube.com/@TrungSon-nc6yx"
        )
        i.fa-brands.fa-youtube
// End Box Contact