// Footer
footer.footer
  .container
    .inner-top
      h2.inner-title Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
      form#email-form.inner-form(action="#")
        input#email-input(
          name="email" 
          placeholder="Nhập email của bạn..." 
          type="email"
          )
        button(type="submit") Đăng Ký Ngay
    .inner-middle
      nav.inner-links
        ul
          li
            a(href="/") Trang Chủ
          li
            a(href="/category/tour-trong-nuoc") Tour Trong Nước
          li
            a(href="http://localhost:3000/category/tour-nuoc-ngoai") Tour Nước Ngoài
          li
            a(href="/news") Tin Tức
          li
            a(href="/contacts") Liên Hệ
      nav.inner-socials
        ul
          li
            a(
              target="_blank" 
              href="https://www.facebook.com/share/1MkHQpeLg6/"
              )
              i.fa-brands.fa-facebook
          li
            a(
              target="_blank" 
              href="https://www.instagram.com/sown03th6/"
              )
              i.fa-brands.fa-instagram
          li
            a(
              target="_blank" 
              href="https://www.youtube.com/@TrungSon-nc6yx"
              )
              i.fa-brands.fa-youtube
    .inner-bottom
      .inner-copyright © 2025. All rights reserved.
      //- .inner-logo
      //-   a(href="/")
      //-     img(
      //-       alt=settingWebsiteInfo.websiteName
      //-       src=settingWebsiteInfo.logo
      //-       )
      nav.inner-links
        ul
          li
            a(href="#") Điều khoản dịch vụ
          li
            a(href="#") Chính sách bảo mật
// End Footer