extends ../layouts/default.pug
include ../mixins/product-item.pug
block main
  // Section 1
  .section-1
    .container
      .inner-wrap
        p.inner-desc(
          data-aos-delay="150" 
          data-aos-duration="800" 
          data-aos="fade-up"
          )
  // End Section 1
  // Section 2
  // End Section 2
  // Section 3
  // End Section 3
  // Section 4
  .section-movies-tabs
    .container
      // Tab Navigation
      .movie-tabs-nav
        button.tab-btn.active(data-tab="now-showing") PHIM ĐANG CHIẾU
        button.tab-btn(data-tab="coming-soon") PHIM SẮP CHIẾU
      
      //- // Tab Content - Phim Đang Chiếu
      //- .tab-content.active#now-showing
      //-   .movie-grid
      //-     each item in nowShowingMovies
      //-       +product-item(item)
      //-   if nowShowingMovies.length > 0
      //-     .inner-button
      //-       a.button-outline(href="/category/phim-dang-chieu") Xem tất cả
      //-   else
      //-     p.text-center(style="padding: 40px 0; color: #666;") Hiện chưa có phim đang chiếu
      
      //- // Tab Content - Phim Sắp Chiếu
      //- .tab-content#coming-soon
      //-   .movie-grid
      //-     each item in comingSoonMovies
      //-       +product-item(item)
      //-   if comingSoonMovies.length > 0
      //-     .inner-button
      //-       a.button-outline(href="/category/phim-sap-chieu") Xem tất cả
      //-   else
      //-     p.text-center(style="padding: 40px 0; color: #666;") Hiện chưa có phim sắp chiếu

  // Section 5 - Banner
  .section-5(
    data-aos-duration="800" 
    data-aos="fade-up"
    )
    .container
      .inner-image
        a(href="#")
          img(alt="" src="/assets/images/banner-4.jpg")

  // Section 8 - Tin Tức
  .section-8
    .container
      h2.box-title(
        data-aos-duration="800" 
        data-aos="fade-up"
        ) Tin Tức Mới
      .inner-wrap(
        data-aos-delay="150" 
        data-aos-duration="800" 
        data-aos="fade-up"
        )
        .blog-item
          a(href="#")
            .inner-image
              img(alt="" src="/assets/images/blog-1.jpg")
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Homestay "cổ tích" giữa Đà Lạt mộng mơ
        .blog-item-2
          a(href="#")
            .inner-image
              img(alt="" src="/assets/images/blog-2.jpg")
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Top 5 điểm check in độc đáo tại Singapore
              .inner-desc
                | Nếu bạn nghĩ du lịch Singapore rất nhàm chán...
        .blog-item
          a(href="#")
            .inner-image
              img(alt="" src="/assets/images/blog-3.jpg")
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Đặc sản không thể bỏ qua khi đến với Đà Nẵng - Hội An
        .blog-item
          a(href="#")
            .inner-image
              img(alt="" src="/assets/images/blog-4.jpg")
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Đảo Phú Quý Bình Thuận hot trend năm 2024
        .blog-item
          a(href="#")
            .inner-image
              img(alt="" src="/assets/images/blog-5.jpg")
            .inner-content
              .inner-date 23/05/2024
              h3.inner-title Trekking cắm trại tại Đà Lạt
  // End Section 8