extends ../layouts/default.pug 

block main
    .section-5(
      data-aos-duration="800" 
      data-aos="fade-up"
      )
      .container
        .inner-image
          a(href="#")
            img(
              alt="" 
              src="assets/images/banner-5.png"
              )
    // End Section 7
    // Section 8
    .section-8
      .container
        h2.box-title(
          data-aos-duration="800" 
          data-aos="fade-up"
          ) Tin Tức Mới
        .inner-wrap(
          data-aos-delay="150" 
          data-aos-duration="800" 
          data-aos="fade-up"
          )
          .blog-item
            a(href="news-details.html")
              .inner-image
                img(
                  alt="" 
                  src="assets/images/blog-1.jpg"
                  )
              .inner-content
                .inner-date 23/05/2025
                h3.inner-title Homestay “cổ tích” giữa Đà Lạt mộng mơ
          .blog-item-2
            a(href="news-details.html")
              .inner-image
                img(
                  alt="" 
                  src="assets/images/blog-2.jpg"
                  )
              .inner-content
                .inner-date 23/05/2025
                h3.inner-title Top 5 điểm check in độc đáo tại Singapore
                .inner-desc
                  | Nếu bạn nghĩ du lịch Singapore rất nhàm chán vì chỉ mãi quanh quẩn trong những khối bê tông vô cảm thì bạn “chắc chưa?”. Tuy đảo quốc Sư Tử không phải là một quốc gia rộng lớn nhưng các địa điểm du lịch tại Singapore chưa từng đánh mất sức hút đối với cộng đồng xê dịch quốc tế.
          .blog-item
            a(href="news-details.html")
              .inner-image
                img(
                  alt="" 
                  src="assets/images/blog-3.jpg"
                  )
              .inner-content
                .inner-date 23/05/2025
                h3.inner-title Đặc sản không thể bỏ qua khi đến với Đà Nẵng - Hội An
          .blog-item
            a(href="news-details.html")
              .inner-image
                img(
                  alt="" 
                  src="assets/images/blog-4.jpg"
                  )
              .inner-content
                .inner-date 23/05/2025
                h3.inner-title Đảo Phú Quý Bình Thuận hot trend năm 2025
          .blog-item
            a(href="news-details.html")
              .inner-image
                img(
                  alt="" 
                  src="assets/images/blog-5.jpg"
                  )
              .inner-content
                .inner-date 23/05/2025
                h3.inner-title Trekking cắm trại tại Đà Lạt- Cảm nhận Đà Lạt qua từng bước chân
    // End Section 8