extends ../layouts/default.pug

block main
  .section-12
    .container
      .inner-wrap
        h2.inner-title-main Xác Thực OTP
        p.inner-desc Vui lòng nhập mã OTP đã được gửi về email
        form#user-otp-password-form
          .inner-info
            .inner-inputs
              .inner-input
                input(
                  placeholder="Mã OTP *" 
                  name="otp" 
                  type="text"
                )
              .inner-input(style="display: none;")
                input(
                  name="email" 
                  type="hidden"
                )
          .inner-button
            button(type="submit") Xác Nhận
        .inner-more
          a(href="/user/forgot-password") Gửi lại mã