extends ../layouts/default.pug

block main
  .section-12
    .container
      .inner-wrap
        h2.inner-title-main Thông Tin Cá Nhân
        form#user-profile-form
          .inner-info
            .inner-inputs
              .inner-input
                input(
                  placeholder="Họ và tên" 
                  name="fullName" 
                  type="text"
                  value=user.fullName
                )
              .inner-input
                input(
                  placeholder="Email" 
                  name="email" 
                  type="email"
                  value=user.email
                  readonly
                )
              .inner-input
                input(
                  placeholder="Số điện thoại" 
                  name="phone" 
                  type="text"
                  value=user.phone
                )
              .inner-input
                input(
                  placeholder="Địa chỉ" 
                  name="address" 
                  type="text"
                  value=(user.address || "")
                )
            .inner-group
              label.inner-label Ảnh đại diện
              input(
                type="file"
                name="avatar"
                accept="image/*"
              )
              if user.avatar
                img(src=user.avatar style="max-width: 200px; margin-top: 10px;")
          .inner-button
            button(type="submit") Cập Nhật
        .inner-links
          a(href="/user/change-password") Đổi mật khẩu
          a(href="/user/bookings") Đơn đặt vé của tôi
          a(href="javascript:;" class="logout-link") Đăng xuất