extends ../layouts/default.pug

block main
  .section-12
    .container
      .inner-wrap
        h2.inner-title-main Đặt Lại Mật Khẩu
        form#user-reset-password-form
          .inner-info
            .inner-inputs
              .inner-input
                input(
                  placeholder="Mật khẩu mới *" 
                  name="password" 
                  type="password"
                )
              .inner-input
                input(
                  placeholder="Xác nhận mật khẩu *" 
                  name="confirmPassword" 
                  type="password"
                )
          .inner-button
            button(type="submit") Đặt Lại Mật Khẩu