extends ../layouts/default.pug

block main
  .section-12
    .container
      .inner-wrap
        h2.inner-title-main Đổi Mật Khẩu
        form#user-change-password-form
          .inner-info
            .inner-inputs
              .inner-input
                input(
                  placeholder="Mật khẩu cũ *" 
                  name="oldPassword" 
                  type="password"
                )
              .inner-input
                input(
                  placeholder="Mật khẩu mới *" 
                  name="password" 
                  type="password"
                )
              .inner-input
                input(
                  placeholder="Xác nhận mật khẩu mới *" 
                  name="confirmPassword" 
                  type="password"
                )
          .inner-button
            button(type="submit") Đổi Mật Khẩu
        .inner-back
          a(href="/user/profile") Quay lại thông tin cá nhân