extends ../layouts/default.pug

block main
  h1.box-title Thông tin liên hệ

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item.inner-date
        input(type="date" filter-start-date)
        span -
        input(type="date" filter-end-date)
      .inner-item.inner-reset(filter-reset)
        <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status(
        change-multi
        data-api=`/${pathAdmin}/contact/change-multi`
        )
        .inner-item
          select
            option(value="") -- Hành động --
            option(value="delete") Xóa
        .inner-item
          button Áp dụng
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm" search)
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all)
            th Email
            th Ngày tạo
            th(class="inner-center") Hành động
        tbody
          each item in contactList
            tr
              td(class="inner-center")
                input(type="checkbox" class="inner-check" check-item=item.id)
              td #{item.email}
              td #{item.createdAtFormat}
              td(class="inner-center")
                .inner-buttons
                  button(
                    button-delete
                    data-api=`/${pathAdmin}/contact/delete/${item.id}`
                    class="inner-delete"
                  ) <i class="fa-regular fa-trash-can"></i>

  //- End Section 6
  //- Section 7 - PHÂN TRANG
  .section-7
    span(class="inner-label") 
      | Hiển thị #{(pagination.currentPage - 1) * pagination.limit + 1} - #{Math.min(pagination.currentPage * pagination.limit, pagination.totalRecords)} của #{pagination.totalRecords}
    select(class="inner-pagination" pagination)
      - for(let i = 1; i <= pagination.totalPages; i++)
        option(value=i selected=(i == pagination.currentPage)) Trang #{i}
  //- End Section 7

