extends ../layouts/default.pug

block main
  h1.box-title Tổng quan
  //- Section 1
  .section-1
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-1.svg")
      .inner-content
        .inner-title Quản trị viên
        .inner-number #{(overview.totalAdmin || 0).toLocaleString("vi-VN")}
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-2.svg")
      .inner-content
        .inner-title Người dùng
        .inner-number #{(overview.totalUser || 0).toLocaleString("vi-VN")}
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-3.svg")
      .inner-content
        .inner-title Đơn đặt vé
        .inner-number #{(overview.totalBooking || 0).toLocaleString("vi-VN")}
    .inner-item
      .inner-icon
        img(src="/admin/assets/images/section-1-icon-3.svg")
      .inner-content
        .inner-title Doanh thu
        .inner-number #{(overview.totalRevenue || 0).toLocaleString("vi-VN")}đ
  //- End Section 1

  //- Section 2
  .section-2
    .inner-head
      h2.inner-title Biểu đồ doanh thu
      .inner-filter
        input(type="month")
    .inner-chart
      canvas(id="revenue-chart")
  //- End Section 2

  //- Section 3
  .section-3
    h2.inner-title Đơn đặt vé mới
    .table-1
      table
        thead
          tr
            th Mã đặt vé
            th Thông tin khách
            th Phim
            th Ghế & Combo
            th Thanh toán
            th.inner-text-right Ngày đặt
        tbody
          each booking in bookings
            tr
              td
                .inner-code #{booking.bookingCode}
              td
                .inner-text Họ tên: #{booking.fullName}
                .inner-text SĐT: #{booking.phone}
              td
                .inner-text #{booking.movieName}
                .inner-text Rạp: #{booking.cinema}
              td
                .inner-text Ghế: #{booking.seatList}
                .inner-text Combo: #{booking.comboList}
              td
                .inner-text Tổng: #{(booking.total || 0).toLocaleString('vi-VN')}đ
                .inner-text PTTT: #{booking.paymentMethodName}
                .inner-text TTTT: #{booking.paymentStatusName}
              td.inner-text-right
                .inner-text #{booking.createdAtFormat}
  //- End Section 3