extends ../layouts/account.pug

block main
  .form-account
    h2.inner-title Quên mật khẩu
    p.inner-desc Vui lòng nhập email để tiếp tục
    
    form.inner-form#forgot-password-form
      .inner-group
        label(
          class="inner-label"
          for="email"
        ) Email
        input(
          type="email"
          name="email"
          id="email"
          placeholder="Ví dụ: levana@gmail.com"
          class="inner-control"
        )
      button(class="inner-button") Gửi mã OTP
    
    .inner-more
      span Bạn đã nhớ mật khẩu?
      a(href=`/${pathAdmin}/account/login`) Đăng nhập