extends ../layouts/default.pug

block main
  h1.box-title Quản lý phim

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Bộ lọc
      .inner-item
        select(filter-status)
          option(value="") Trạng thái
          option(value="active") Hoạt động
          option(value="inactive") Tạm dừng
      .inner-item
        select(filter-created-by)
          option(value="") Người tạo
          each item in accountAdminList 
            option(value=item.id) #{item.fullName}
      .inner-item.inner-date
        input(type="date" filter-start-date)
        span -
        input(type="date" filter-end-date)
      .inner-item.inner-reset(filter-reset)
        <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status(
        change-multi
        data-api=`/${pathAdmin}/movie/change-multi`
      )
        .inner-item
          select
            option(value="") -- Hành động --
            option(value="active") Hoạt động
            option(value="inactive") Dừng hoạt động
            option(value="delete") Xóa
        .inner-item
          button Áp dụng
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm" search)
      .inner-button-create
        a(href=`/${pathAdmin}/movie/create`) + Tạo mới
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th(class="inner-center")
              input(type="checkbox" class="inner-check" check-all)
            th Tên phim
            th Ảnh đại diện
            th Giá vé
            th Thời lượng
            th Ngày công chiếu
            th(class="inner-center") Vị trí
            th(class="inner-center") Trạng thái
            th Tạo bởi
            th Cập nhật bởi
            th Hành động
        tbody
          each item in movieList
            tr
              td(class="inner-center")
                input(type="checkbox" class="inner-check" check-item=item.id)
              td #{item.name}
              td
                img(src=item.avatar class="inner-avatar")
              td
                div Thường: #{((item.prices && item.prices.standard) || 0).toLocaleString("vi-VN")}đ
                div VIP: #{((item.prices && item.prices.vip) || 0).toLocaleString("vi-VN")}đ
                div Đôi: #{((item.prices && item.prices.couple) || 0).toLocaleString("vi-VN")}đ
              td(class="inner-center") #{item.duration}
              td(class="inner-center")
                div #{item.releaseDateFormat}
              td(class="inner-center") #{item.position}
              td(class="inner-center")
                if (item.status == "active")
                  .badge.badge-green Hoạt động
                else if (item.status == "inactive")
                  .badge.badge-red Dừng hoạt động
              td
                div #{item.createdByFullName}
                div.inner-time #{item.createdAtFormat}
              td
                div #{item.updatedByFullName}
                div.inner-time #{item.updatedAtFormat}
              td
                .inner-buttons
                  a(
                    href=`/${pathAdmin}/movie/edit/${item.id}`
                    class="inner-edit"
                  ) <i class="fa-regular fa-pen-to-square"></i>
                  button(
                    class="inner-delete"
                    button-delete
                    data-api=`/${pathAdmin}/movie/delete/${item.id}`
                  ) <i class="fa-regular fa-trash-can"></i>
  //- End Section 6
  //- Section 7 - PHÂN TRANG
  .section-7
    span(class="inner-label") 
      | Hiển thị #{(pagination.currentPage - 1) * pagination.limit + 1} - #{Math.min(pagination.currentPage * pagination.limit, pagination.totalRecords)} của #{pagination.totalRecords}
    select(class="inner-pagination" pagination)
      - for(let i = 1; i <= pagination.totalPages; i++)
        option(value=i selected=(i == pagination.currentPage)) Trang #{i}
  //- End Section 7