extends ../layouts/account.pug

block main
  .form-account
    h2.inner-title Nhập mã OTP
    p.inner-desc Vui lòng nhập mã OTP để tiếp tục
    
    form.inner-form#otp-password-form
      .inner-group
        label(
          class="inner-label"
          for="otp"
        ) Mã OTP
        input(
          type="text"
          name="otp"
          id="otp"
          placeholder="Ví dụ: 123456"
          class="inner-control"
        )
      button(class="inner-button") Gửi mã OTP
    
    .inner-more
      span Bạn đã nhớ mật khẩu?
      a(href=`/${pathAdmin}/account/login`) Đăng nhập