extends ../layouts/account.pug

block main
  .form-account
    h2.inner-title Đổi mật khẩu
    p.inner-desc Vui lòng nhập mật khẩu để tiếp tục
    
    form.inner-form#reset-password-form
      .inner-group
        label(
          class="inner-label"
          for="password"
        ) Mật khẩu mới
        input(
          type="password"
          name="password"
          id="password"
          class="inner-control"
        )
      .inner-group
        label(
          class="inner-label"
          for="confirm-password"
        ) Xác nhận mật khẩu
        input(
          type="password"
          name="confirmPassword"
          id="confirm-password"
          class="inner-control"
        )
      button(class="inner-button") Thay đổi
    
    .inner-more
      span Bạn đã nhớ mật khẩu?
      a(href=`/${pathAdmin}/account/login`) Đăng nhập