mixin product-item(item)
  - const displayDate = item.releaseDateFormat || "";
  - const trailerUrl = item.trailer || "";

  .product-item
    .inner-image
      if trailerUrl
        a.trailer-link(href="javascript:;" data-trailer=trailerUrl)
          img(
            alt=item.name
            src=item.avatar
          )
          .play-icon
            i.fa-solid.fa-circle-play
      else
        a(href=`/movie/detail/${item.slug}`)
          img(
            alt=item.name
            src=item.avatar
          )
    
    .inner-content
      h3.inner-title
        a(href=`/movie/detail/${item.slug}`) #{item.name}
      
      .inner-desc
        if displayDate
          .inner-desc-item
            i.fa-solid.fa-calendar-days
            | Ngày chiếu:
            b #{displayDate}
        
        if item.duration
          .inner-desc-item
            i.fa-solid.fa-clock
            | Thời lượng:
            b #{item.duration}
        
        if item.ageRating
          .inner-desc-item
            i.fa-solid.fa-child
            | Độ tuổi:
            b #{item.ageRating}
        
        if item.showtimes && item.showtimes.length > 0
          .inner-desc-item
            i.fa-solid.fa-film
            | Định dạng:
            each showtime, index in item.showtimes.slice(0, 2)
              if index > 0
                | , 
              b #{showtime.format}
      
      .inner-meta
        .inner-rating
          .inner-stars
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star
            i.fa-solid.fa-star-half-stroke
          .inner-number (4.5/5)
        
        a.btn-book(href=`/movie/detail/${item.slug}`)
          | Đặt vé