nav.sider
  ul.inner-menu
    li
      a(href=`/${pathAdmin}/dashboard`) <i class="fa-solid fa-gauge-high"></i> Tổng quan
    li
      a(href=`/${pathAdmin}/category/list`) <i class="fa-solid fa-table-cells-large"></i> Quản lý danh mục
    li
      a(href=`/${pathAdmin}/movie/list`) <i class="fa-solid fa-table-list"></i> Quản lý Phim
    li
      a(href=`/${pathAdmin}/booking/list`) <i class="fa-solid fa-list-check"></i> Quản lý đặt vé
    li
      a(href=`/${pathAdmin}/user/list`) <i class="fa-solid fa-user"></i> Quản lý người dùng
    li
      a(href=`/${pathAdmin}/contact/list`) <i class="fa-solid fa-user-group"></i> Thông tin liên hệ
  hr
  ul.inner-menu
    li
      a(href=`/${pathAdmin}/setting/list`) <i class="fa-solid fa-gear"></i> Cài đặt chung
    li
      a(href=`/${pathAdmin}/profile/edit`) <i class="fa-solid fa-user-gear"></i> Thông tin cá nhân
    li
      a(href="javascript:;" class="inner-logout") <i class="fa-solid fa-power-off"></i> Đăng xuất
.sider-overlay